* {
	box-sizing: border-box;
}
body {
	font-size: 20px;
	font-family: sans-serif;
	padding-top: 20px;
	background: #e6ecf1;
}

.Controler {
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}
.QuestionControler {
	position: relative;
	width: 100%;
}
.Question {
	width: 100%;
	padding: 20px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	background-color: #82c8d6;
	color: #fff;
	box-sizing: border-box;
}
.SingleQuestion {
	position: relative;
	width: 100%;
}
.Answer {
	border: 1px solid #8e959f;
	padding: 20px;
	font-size: 18px;
	width: 100%;
	background-color: #fff;
	transition: 0.2s linear all;
}
.Answer span {
	display: inline-block;
	margin-left: 5px;
	font-size: 0.75em;
	font-style: italic;
}
.Progress {
	height: 50px;
	margin-top: 10px;
	background-color: #ddd;
	position: relative;
}
.Bar {
	height: 50px;
	background-color: #ff6372;
	transition: all 0.3s linear;
}
.Status {
	position: absolute;
	top: 15px;
	left: 0;
	text-align: center;
	color: #fff;
	width: 100%;
}
.Answer:not(.is-answered) {
	cursor: pointer;
}
.Answer:not(.is-answered):hover {
	background-color: #506293;
	border-color: #506293;
	color: #fff;
}

.Title {
	width: 100%;
	padding: 20px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	background-color: #82c8d6;
	color: #fff;
	box-sizing: border-box;
}
.Description {
	border: 1px solid #8e959f;
	padding: 20px;
	font-size: 18px;
	width: 100%;
	background-color: #fff;
	transition: 0.4s linear all;
	text-align: center;
}
.fade-enter-from {
	opacity: 0;
}
.fade-enter-active {
	transition: all 0.3s linear;
}
.fade-leave-active {
	transition: all 0.3s linear;
	opacity: 0;
	position: absolute;
}

.ResetBtn {
	background-color: #ff6372;
	border: 0;
	font-size: 22px;
	color: #fff;
	padding: 10px 25px;
	margin: 10px auto;
	display: block;
}
.ReviewBtn {
	background-color: #ff6372;
	border: 0;
	font-size: 22px;
	color: #fff;
	padding: 10px 25px;
	margin: 10px auto;
	display: block;
}

.Result {
	width: 100%;
}

.ResetBtn:active,
.ResetBtn:focus,
.ResetBtn:hover,
.ReviewBtn:active,
.ReviewBtn:focus,
.ReviewBtn:hover {
	border: 0;
	outline: 0;
}

.review-question {
	position: relative;
	width: 100%;
}
.QuestionReview {
	width: 100%;
	padding: 20px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	background-color: #82c8d6;
	color: #fff;
	box-sizing: border-box;
}

.AnswerReview {
	border: 1px solid #8e959f;
	padding: 20px;
	font-size: 18px;
	width: 100%;
	background-color: #fff;
	transition: 0.2s linear all;
}
.AnswerReview span {
	display: inline-block;
	margin-left: 5px;
	font-size: 0.75em;
	font-style: italic;
}
